input, select, datalist{
   outline: none;
   border-radius: 5px;
   border: 1px solid green
}
.w-50 div{
   width: 48.24%;
   display: inline-block;
   margin-right: 3%;
}
.w-50 div:last-child{
   margin-right: 0;
}
.w-30 div{
   width: 31.5%;
   margin-right: 2%;
   display: inline-block;
}
.w-30 div:last-child{
   margin-right: 0;
}
/*============== 
Bio Data Form Start
 ==============*/
 .bio-form{
    background-color: oldlace;
    margin: 20px auto;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
 }

 /* form title */
 .bio-title{
    margin: 10px 0px;
    display: block;
    box-shadow: 1px 1px 2px #ddd;
    background-color: orange;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
 }
 .bio-title h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 2px #000;
    color: green;
    font-size: 40px;
 }

 /* Photo Handling Start */
 .upload-photo{
    position: relative;
    height: 150px;
    display: block;
    width: 100%;
 }
 .upload-photo .formInput{
    position: absolute;
    width: 100px;
    right: 0;
    border: 1px solid green;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #ddd;
    display: inline-block;
 }
 .upload-photo .formInput img{
    border: 1px solid orange;
    border-radius: 5px;
 }
 .upload-photo .formInput input[type="file"]{
    display: inline-block;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .upload-photo .formInput input[type="file"]::file-selector-button{
    border: 1px solid orange;
    padding: 2px;
    border-radius: 5px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    transition: .6s all ease;
 }
 .upload-photo .formInput input[type="file"]::file-selector-button:hover{
    background-color: green;
    color: orange;
}

/*------Personal Information Start -------*/
.formInput {
   margin: 10px 0;
   box-sizing: border-box;
}

.formInput label{
   display: block;
   width: 100%;
   font-size: 20px;
   color: brown;
   font-weight: 600;
   margin: 5px 0;
}
.formInput input {
   border: 1px solid green;
   padding: 5px;
   box-sizing: border-box;
   color: blue;
   width: 100%;
}

.gender-input .formInput{
   display: block;
   width: 100%;
}
.gender-input .formInput input{
   width: auto;
}
.addressSection .address-title{
   display: block;
   width: 100%;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   color: brown;
   font-weight: 600;
   margin: 5px 0;
}
/*------Personal Information End -------*/
 /*============== 
Bio Data Form End
 ==============*/

