/*============================
Contact Page Form Style Start
===============================*/
.form{
    background-color: aqua;
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    margin: 20px auto;
    box-sizing: border-box;
  }
  
  .form .heading h2{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding:  20px 0 40px 0;
    color: green;
    text-shadow: 1px 1px 2px #000;
  }
  
  .form .formBody .inputArea label{
    display: block;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
    color: blueviolet;
  }
  
  .form .formBody .inputArea input{
    display: block;
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid green;
    color: green;
  }
  
  .form .formBody .inputArea input::placeholder{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
  }
  
  .form .formBody input[type="submit"]{
    font-size: 16px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
    margin: 10px auto;
    display: table;
    color: aqua;
    background-color: green;
    border: 1px solid gold;
    border-radius: 5px;
    transition: .6s all ease;
  }
  .form .formBody input[type="submit"]:hover{
    background-color: brown;
    color: gold;
  }
  /*============================
  Contact Page Form Style End
  ===============================*/