

.box{
  width: 70px;
  height: 70px;
  background-color: blueviolet;
  float: left;

  /* clear: left; */
  /* float: right; */
  /* float: none; */
  /* float: inline-start; */
  /* float: inline-end; */
}

.box2{
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  float: right;
  clear: none;
}