/*========Universal Selector Start==========*/
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/*========Universal Selector End==========*/
/*========Header Section Start==========*/
header{
   /* width: 100%;*/
   min-height: 80px;
    background-color: blueviolet;
    color: #fff
}

/* log css area */
header .logo, header nav{
    width: 50%;
    float: left;
    line-height: 80px;
}
/*
header nav{
    float: right;
}
*/
header nav a{
    color: wheat;
}
/*========Header Section end==========*/