.first {
  border-style: dotted;
  border-width: 5px;
}

.second {
  border-style: outset;
  border-width: 5px;
}
.third {
  border-style: inset;
  border-width: 5px;
}
p{
  border-style: solid;
}

.fourth{
  border-style: none;
}

button{
  border-style: hidden;
  background-color: aquamarine;
}